In [2]:
import pandas as pd
df = pd.read_csv("pandas_practice_orders.csv")
print(df.head())

#Mostrar información técnica del DataFrame
print("-- info() --")
df.info()

   order_id  order_date  user_id user_name    segment    city state channel  \
0      1001  2026-01-02        1       Ana   Consumer    CDMX  CDMX     web
1      1002  2026-01-02        2      Luis  Corporate     GDL   JAL   store
2      1003  2026-01-03        3     Marta   Consumer     MTY    NL     web
3      1004  2026-01-03        4     Jorge  Small Biz    CDMX  CDMX     app
4      1005  2026-01-04        1       Ana   Consumer  Puebla   PUE     web

          product     category  quantity  unit_price  discount  returned  \
0   Laptop Sleeve  Accessories         1        35.0      0.10     False
1  Wireless Mouse  Accessories         2        18.5      0.00     False
2        Keyboard  Accessories         1        45.0      0.05      True
3     Monitor 24"  Electronics         1       160.0      0.15     False
4     USB-C Cable  Accessories         3         8.0      0.00     False

  payment_method  gross     net
0           card   35.0   31.50
1           cash   37.0   37.00
2           card   45.0   42.75
3           card  160.0  136.00
4       transfer   24.0   24.00
-- info() --
<class 'pandas.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   order_id        30 non-null     int64
 1   order_date      30 non-null     str
 2   user_id         30 non-null     int64
 3   user_name       30 non-null     str
 4   segment         30 non-null     str
 5   city            30 non-null     str
 6   state           30 non-null     str
 7   channel         30 non-null     str
 8   product         30 non-null     str
 9   category        30 non-null     str
 10  quantity        30 non-null     int64
 11  unit_price      30 non-null     float64
 12  discount        30 non-null     float64
 13  returned        30 non-null     bool
 14  payment_method  30 non-null     str
 15  gross           30 non-null     float64
 16  net             30 non-null     float64
dtypes: bool(1), float64(4), int64(3), str(9)
memory usage: 5.7 KB

In [3]:
#Mostrar  los 6 primeos registros
df.head(6)

,order_id,order_date,user_id,user_name,segment,city,state,channel,product,category,quantity,unit_price,discount,returned,payment_method,gross,net
0,1001,2026-01-02,1,Ana,Consumer,CDMX,CDMX,web,Laptop Sleeve,Accessories,1,35.0,0.10,False,card,35.0,31.50
1,1002,2026-01-02,2,Luis,Corporate,GDL,JAL,store,Wireless Mouse,Accessories,2,18.5,0.00,False,cash,37.0,37.00
2,1003,2026-01-03,3,Marta,Consumer,MTY,NL,web,Keyboard,Accessories,1,45.0,0.05,True,card,45.0,42.75
3,1004,2026-01-03,4,Jorge,Small Biz,CDMX,CDMX,app,"Monitor 24""",Electronics,1,160.0,0.15,False,card,160.0,136.00
4,1005,2026-01-04,1,Ana,Consumer,Puebla,PUE,web,USB-C Cable,Accessories,3,8.0,0.00,False,transfer,24.0,24.00
5,1006,2026-01-05,5,Sofia,Corporate,QRO,QRO,store,Office Chair,Furniture,1,220.0,0.20,False,card,220.0,176.00

In [8]:
df.tail(6)

,order_id,order_date,user_id,user_name,segment,city,state,channel,product,category,quantity,unit_price,discount,returned,payment_method,gross,net
24,1025,2026-01-17,7,Karla,Small Biz,MTY,NL,web,Router,Electronics,1,130.0,0.20,False,card,130.0,104.0
25,1026,2026-01-17,8,Pedro,Consumer,CDMX,CDMX,app,Sticky Notes,Stationery,6,1.5,0.00,False,cash,9.0,9.0
26,1027,2026-01-18,4,Jorge,Small Biz,CDMX,CDMX,web,USB-C Dock,Electronics,1,175.0,0.10,False,card,175.0,157.5
27,1028,2026-01-18,12,Hugo,Corporate,MTY,NL,store,Ink Cartridge,Stationery,2,25.0,0.00,False,transfer,50.0,50.0
28,1029,2026-01-19,1,Ana,Consumer,Puebla,PUE,app,Gaming Mousepad,Accessories,1,20.0,0.05,False,card,20.0,19.0
29,1030,2026-01-20,13,Nora,Small Biz,Puebla,PUE,web,Filing Cabinet,Furniture,1,260.0,0.15,False,transfer,260.0,221.0

### .loc, .iloq, querys

In [12]:
#Seleccionar la columna user_name utilizando .loc
#df.loc[fila,columna] , : señala que se buscan los datos de todas las filas, pero solo de una columna en este caso
df.loc[:,'user_name']

0       Ana
1      Luis
2     Marta
3     Jorge
4       Ana
5     Sofia
6     Diego
7     Karla
8     Pedro
9      Luis
10    Elena
11    Marta
12    Ramon
13    Paula
14     Hugo
15    Diego
16    Sofia
17     Nora
18     Ivan
19    Lucia
20    Elena
21    Paula
22    Ramon
23     Luis
24    Karla
25    Pedro
26    Jorge
27     Hugo
28      Ana
29     Nora
Name: user_name, dtype: str

In [17]:
#Mostrar todo el registro de la fila 2
#df.loc[1,'nombre_columna]
df.loc[1,:]

order_id                    1002
order_date            2026-01-02
user_id                        2
user_name                   Luis
segment                Corporate
city                         GDL
state                        JAL
channel                    store
product           Wireless Mouse
category             Accessories
quantity                       2
unit_price                  18.5
discount                     0.0
returned                   False
payment_method              cash
gross                       37.0
net                         37.0
Name: 1, dtype: object

In [19]:
#user_name, columna de producto o relación de compra
#product, order_id, order_date.
df.loc[:,['user_name','product','order_id','order_date']]

   user_name            product  order_id  order_date
0        Ana      Laptop Sleeve      1001  2026-01-02
1       Luis     Wireless Mouse      1002  2026-01-02
2      Marta           Keyboard      1003  2026-01-03
3      Jorge        Monitor 24"      1004  2026-01-03
4        Ana        USB-C Cable      1005  2026-01-04
5      Sofia       Office Chair      1006  2026-01-05
6      Diego          Desk Lamp      1007  2026-01-05
7      Karla            SSD 1TB      1008  2026-01-06
8      Pedro           Notebook      1009  2026-01-06
9       Luis        Monitor 27"      1010  2026-01-07
10     Elena            Pen Set      1011  2026-01-07
11     Marta             Webcam      1012  2026-01-08
12     Ramon      Standing Desk      1013  2026-01-09
13     Paula         Headphones      1014  2026-01-09
14      Hugo         Paper Ream      1015  2026-01-10
15     Diego            USB Hub      1016  2026-01-10
16     Sofia      Ergo Keyboard      1017  2026-01-11
17      Nora     Desk Organizer      1018  2026-01-12
18      Ivan   Smartphone Stand      1019  2026-01-12
19     Lucia         HDMI Cable      1020  2026-01-13
20     Elena            Planner      1021  2026-01-14
21     Paula  Bluetooth Speaker      1022  2026-01-15
22     Ramon          Floor Mat      1023  2026-01-15
23      Luis         Whiteboard      1024  2026-01-16
24     Karla             Router      1025  2026-01-17
25     Pedro       Sticky Notes      1026  2026-01-17
26     Jorge         USB-C Dock      1027  2026-01-18
27      Hugo      Ink Cartridge      1028  2026-01-18
28       Ana    Gaming Mousepad      1029  2026-01-19
29      Nora     Filing Cabinet      1030  2026-01-20

In [21]:
# Filtrar con una condición: doc.loc[condicion, columnas]
# valor simbolo(<,>,!=..) valor
# df['city'] == "CDMX"
df.loc[df['city']=="CDMX",['order_id','product','order_date','payment_method',"city"]]

    order_id           product  order_date payment_method  city
0       1001     Laptop Sleeve  2026-01-02           card  CDMX
3       1004       Monitor 24"  2026-01-03           card  CDMX
8       1009          Notebook  2026-01-06           cash  CDMX
12      1013     Standing Desk  2026-01-09       transfer  CDMX
18      1019  Smartphone Stand  2026-01-12           card  CDMX
22      1023         Floor Mat  2026-01-15           cash  CDMX
25      1026      Sticky Notes  2026-01-17           cash  CDMX
26      1027        USB-C Dock  2026-01-18           card  CDMX

In [14]:
#Filtrar con varias condiciones
#'category','discount',
#Filtrar cuando categoría sea igual a electronico y tenga un descuento mayor a .10 = 10%
#Crear las condiciones en una variable
# , ['order_id','product','discount','payment_method','category']
#x = (df['category'] == ['Electronics']) & (df['discount']>0.1) 
#mask = (df['category'] == 'Electronics') & (df['discount'] > 0.1)
#df[mask] = df[['order_id', 'product', 'discount', 'payment_method', 'category']]
x = (df['category'] == 'Electronics') & (df['discount'] > 0.1)
df.loc[x, ['order_id', 'product', 'discount', 'payment_method', 'category']]

    order_id        product  discount payment_method     category
3       1004    Monitor 24"      0.15           card  Electronics
16      1017  Ergo Keyboard      0.15           card  Electronics
24      1025         Router      0.20           card  Electronics

### Funcion .iloc

In [5]:
# Sintaxis df.iloc(fila,columna)
df.iloc[:,3]

0       Ana
1      Luis
2     Marta
3     Jorge
4       Ana
5     Sofia
6     Diego
7     Karla
8     Pedro
9      Luis
10    Elena
11    Marta
12    Ramon
13    Paula
14     Hugo
15    Diego
16    Sofia
17     Nora
18     Ivan
19    Lucia
20    Elena
21    Paula
22    Ramon
23     Luis
24    Karla
25    Pedro
26    Jorge
27     Hugo
28      Ana
29     Nora
Name: user_name, dtype: str

In [6]:
#Mostrar filas específicas, 0-5
df.iloc[0:5]

,order_id,order_date,user_id,user_name,segment,city,state,channel,product,category,quantity,unit_price,discount,returned,payment_method,gross,net
0,1001,2026-01-02,1,Ana,Consumer,CDMX,CDMX,web,Laptop Sleeve,Accessories,1,35.0,0.10,False,card,35.0,31.50
1,1002,2026-01-02,2,Luis,Corporate,GDL,JAL,store,Wireless Mouse,Accessories,2,18.5,0.00,False,cash,37.0,37.00
2,1003,2026-01-03,3,Marta,Consumer,MTY,NL,web,Keyboard,Accessories,1,45.0,0.05,True,card,45.0,42.75
3,1004,2026-01-03,4,Jorge,Small Biz,CDMX,CDMX,app,"Monitor 24""",Electronics,1,160.0,0.15,False,card,160.0,136.00
4,1005,2026-01-04,1,Ana,Consumer,Puebla,PUE,web,USB-C Cable,Accessories,3,8.0,0.00,False,transfer,24.0,24.00

In [8]:
#Mostrar fila 0,3 y 6
df.iloc[[0,3,6]]

,order_id,order_date,user_id,user_name,segment,city,state,channel,product,category,quantity,unit_price,discount,returned,payment_method,gross,net
0,1001,2026-01-02,1,Ana,Consumer,CDMX,CDMX,web,Laptop Sleeve,Accessories,1,35.0,0.10,False,card,35.0,31.5
3,1004,2026-01-03,4,Jorge,Small Biz,CDMX,CDMX,app,"Monitor 24""",Electronics,1,160.0,0.15,False,card,160.0,136.0
6,1007,2026-01-05,6,Diego,Consumer,GDL,JAL,web,Desk Lamp,Furniture,2,28.0,0.00,True,card,56.0,56.0

In [11]:
#Mostrar primeras 5 y 4 columnas
#iloc[fila,columna]
df.iloc[0:5,0:4]

   order_id  order_date  user_id user_name
0      1001  2026-01-02        1       Ana
1      1002  2026-01-02        2      Luis
2      1003  2026-01-03        3     Marta
3      1004  2026-01-03        4     Jorge
4      1005  2026-01-04        1       Ana

### Query - Consultas
- Especificas
- Simple

In [15]:
#Mostrar todos los registros de CDMX
df.query("city == 'CDMX'")

,order_id,order_date,user_id,user_name,segment,city,state,channel,product,category,quantity,unit_price,discount,returned,payment_method,gross,net
0,1001,2026-01-02,1,Ana,Consumer,CDMX,CDMX,web,Laptop Sleeve,Accessories,1,35.0,0.10,False,card,35.0,31.5
3,1004,"Monitor 24""",4,Jorge,Small Biz,CDMX,CDMX,app,"Monitor 24""",Electronics,1,160.0,0.15,False,card,160.0,136.0
8,1009,2026-01-06,8,Pedro,Consumer,CDMX,CDMX,store,Notebook,Stationery,5,2.5,0.00,False,cash,12.5,12.5
12,1013,2026-01-09,10,Ramon,Small Biz,CDMX,CDMX,store,Standing Desk,Furniture,1,420.0,0.10,False,transfer,420.0,378.0
18,1019,2026-01-12,14,Ivan,Consumer,CDMX,CDMX,web,Smartphone Stand,Accessories,2,14.0,0.10,False,card,28.0,25.2
22,1023,2026-01-15,10,Ramon,Small Biz,CDMX,CDMX,web,Floor Mat,Furniture,1,30.0,0.00,False,cash,30.0,30.0
25,1026,2026-01-17,8,Pedro,Consumer,CDMX,CDMX,app,Sticky Notes,Stationery,6,1.5,0.00,False,cash,9.0,9.0
26,1027,2026-01-18,4,Jorge,Small Biz,CDMX,CDMX,web,USB-C Dock,Electronics,1,175.0,0.10,False,card,175.0,157.5

In [21]:
#Consulta que muestre CDMX, Electronicos, Descuento de .10
df.query("city=='CDMX' and category=='Electronics' and discount == .1")

,order_id,order_date,user_id,user_name,segment,city,state,channel,product,category,quantity,unit_price,discount,returned,payment_method,gross,net
26,1027,2026-01-18,4,Jorge,Small Biz,CDMX,CDMX,web,USB-C Dock,Electronics,1,175.0,0.1,False,card,175.0,157.5

In [25]:
#mostrar los registros que sean de CMDMX, GDL, con un descuento igual a .1
dis = .1
ciudades = ["CDMX","GDL"]
df.query("discount == @dis and city in @ciudades")
#Busqueda por muchos valores, in hace referencia a varios.

,order_id,order_date,user_id,user_name,segment,city,state,channel,product,category,quantity,unit_price,discount,returned,payment_method,gross,net
0,1001,2026-01-02,1,Ana,Consumer,CDMX,CDMX,web,Laptop Sleeve,Accessories,1,35.0,0.1,False,card,35.0,31.5
12,1013,2026-01-09,10,Ramon,Small Biz,CDMX,CDMX,store,Standing Desk,Furniture,1,420.0,0.1,False,transfer,420.0,378.0
18,1019,2026-01-12,14,Ivan,Consumer,CDMX,CDMX,web,Smartphone Stand,Accessories,2,14.0,0.1,False,card,28.0,25.2
21,1022,2026-01-15,11,Paula,Consumer,GDL,JAL,app,Bluetooth Speaker,Electronics,1,80.0,0.1,False,card,80.0,72.0
26,1027,2026-01-18,4,Jorge,Small Biz,CDMX,CDMX,web,USB-C Dock,Electronics,1,175.0,0.1,False,card,175.0,157.5

### Usando el valor neto para realizar una suma o alguna operación aritmetica 
- Agregación
    - .sum()
    - .mean() - Primedio
    - .median() - Mediana
    - .count()
    - .min()
    - .max()

In [30]:
df["net"].sum()

np.float64(2336.95)

In [31]:
df["net"].mean()

np.float64(77.89833333333333)

In [32]:
df["net"].median()

46.375

In [33]:
df["net"].count()

np.int64(30)

In [34]:
df["net"].min()

9.0

In [35]:
df["net"].max()

378.0

### Aplicamos las funciones, suma, media y maximo a las columnas "unit_price", "net"

In [36]:
df[["unit_price","net"]].agg(["sum","mean","min","max"])

      unit_price          net
sum       2415.0  2336.950000
mean        80.5    77.898333
min          1.5     9.000000
max        420.0   378.000000

### Diferentes funciones

In [38]:
# Columna : Operaciones
df.agg({
    "net" : ["sum","mean"],
    "unit_price" : ["max","min"],
    "discount" : ["mean","max"]
})

              net  unit_price  discount
sum   2336.950000         NaN       NaN
mean    77.898333         NaN  0.056667
max           NaN       420.0  0.200000
min           NaN         1.5       NaN

In [ ]:
#Código pendiente

In [9]:
#Ordenar por columna (asc)
df_sorted = df.sort_values("net")
df_sorted.head()

,order_id,order_date,user_id,user_name,segment,city,state,channel,product,category,quantity,unit_price,discount,returned,payment_method,gross,net
25,1026,2026-01-17,8,Pedro,Consumer,CDMX,CDMX,app,Sticky Notes,Stationery,6,1.5,0.0,False,cash,9.0,9.0
8,1009,2026-01-06,8,Pedro,Consumer,CDMX,CDMX,store,Notebook,Stationery,5,2.5,0.0,False,cash,12.5,12.5
20,1021,2026-01-14,9,Elena,Consumer,Mérida,YUC,web,Planner,Stationery,1,16.0,0.0,False,transfer,16.0,16.0
19,1020,2026-01-13,15,Lucia,Consumer,MTY,NL,store,HDMI Cable,Accessories,2,9.5,0.0,False,cash,19.0,19.0
17,1018,2026-01-12,13,Nora,Small Biz,Puebla,PUE,app,Desk Organizer,Stationery,1,19.0,0.0,False,transfer,19.0,19.0

In [8]:
df2=df.set_index("order_date")
df2=df.sort_index()
df2.head()

,order_id,order_date,user_id,user_name,segment,city,state,channel,product,category,quantity,unit_price,discount,returned,payment_method,gross,net
0,1001,2026-01-02,1,Ana,Consumer,CDMX,CDMX,web,Laptop Sleeve,Accessories,1,35.0,0.10,False,card,35.0,31.50
1,1002,2026-01-02,2,Luis,Corporate,GDL,JAL,store,Wireless Mouse,Accessories,2,18.5,0.00,False,cash,37.0,37.00
2,1003,2026-01-03,3,Marta,Consumer,MTY,NL,web,Keyboard,Accessories,1,45.0,0.05,True,card,45.0,42.75
3,1004,2026-01-03,4,Jorge,Small Biz,CDMX,CDMX,app,"Monitor 24""",Electronics,1,160.0,0.15,False,card,160.0,136.00
4,1005,2026-01-04,1,Ana,Consumer,Puebla,PUE,web,USB-C Cable,Accessories,3,8.0,0.00,False,transfer,24.0,24.00

In [14]:
## 0 = Ordenado por filas, 1 = Ordena por columnas
df_cols_sorted = df.sort_index(axis=1)
df_cols_sorted.head()

,category,channel,city,discount,gross,net,order_date,order_id,payment_method,product,quantity,returned,segment,state,unit_price,user_id,user_name
0,Accessories,web,CDMX,0.10,35.0,31.50,2026-01-02,1001,card,Laptop Sleeve,1,False,Consumer,CDMX,35.0,1,Ana
1,Accessories,store,GDL,0.00,37.0,37.00,2026-01-02,1002,cash,Wireless Mouse,2,False,Corporate,JAL,18.5,2,Luis
2,Accessories,web,MTY,0.05,45.0,42.75,2026-01-03,1003,card,Keyboard,1,True,Consumer,NL,45.0,3,Marta
3,Electronics,app,CDMX,0.15,160.0,136.00,2026-01-03,1004,card,"Monitor 24""",1,False,Small Biz,CDMX,160.0,4,Jorge
4,Accessories,web,Puebla,0.00,24.0,24.00,2026-01-04,1005,transfer,USB-C Cable,3,False,Consumer,PUE,8.0,1,Ana

## Función Merge

In [15]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   order_id        30 non-null     int64
 1   order_date      30 non-null     str
 2   user_id         30 non-null     int64
 3   user_name       30 non-null     str
 4   segment         30 non-null     str
 5   city            30 non-null     str
 6   state           30 non-null     str
 7   channel         30 non-null     str
 8   product         30 non-null     str
 9   category        30 non-null     str
 10  quantity        30 non-null     int64
 11  unit_price      30 non-null     float64
 12  discount        30 non-null     float64
 13  returned        30 non-null     bool
 14  payment_method  30 non-null     str
 15  gross           30 non-null     float64
 16  net             30 non-null     float64
dtypes: bool(1), float64(4), int64(3), str(9)
memory usage: 5.7 KB

In [ ]:
## Separando - Creando una nueva tabla

In [18]:
users = (
    df[["user_id","user_name","segment"]]
    .drop_duplicates("user_id")
)
users.head()

   user_id user_name    segment
0        1       Ana   Consumer
1        2      Luis  Corporate
2        3     Marta   Consumer
3        4     Jorge  Small Biz
5        5     Sofia  Corporate

In [19]:
#merge, buscar el metodo para insertar "lef,right", on significa cual es el campo o la columna que coincide con ambas, en este caso
#el data frame original con el creado comparten user_id, many_to_many cardinalidad
df1 = df.merge(users, on="user_id",how="left",suffixes=("","_user"), validate="many_to_one")
df1.head()
#Se agrego la columna de user_name_user debido a que se identifica cuales se comparten

,order_id,order_date,user_id,user_name,segment,city,state,channel,product,category,quantity,unit_price,discount,returned,payment_method,gross,net,user_name_user,segment_user
0,1001,2026-01-02,1,Ana,Consumer,CDMX,CDMX,web,Laptop Sleeve,Accessories,1,35.0,0.10,False,card,35.0,31.50,Ana,Consumer
1,1002,2026-01-02,2,Luis,Corporate,GDL,JAL,store,Wireless Mouse,Accessories,2,18.5,0.00,False,cash,37.0,37.00,Luis,Corporate
2,1003,2026-01-03,3,Marta,Consumer,MTY,NL,web,Keyboard,Accessories,1,45.0,0.05,True,card,45.0,42.75,Marta,Consumer
3,1004,2026-01-03,4,Jorge,Small Biz,CDMX,CDMX,app,"Monitor 24""",Electronics,1,160.0,0.15,False,card,160.0,136.00,Jorge,Small Biz
4,1005,2026-01-04,1,Ana,Consumer,Puebla,PUE,web,USB-C Cable,Accessories,3,8.0,0.00,False,transfer,24.0,24.00,Ana,Consumer

In [27]:
print("----A----")
a = df.iloc[:10]
print("----B----")
b = df.iloc[10:]
print("----Reconstruido----")
reconstruido = pd.concat([a,b],ignore_index=True)
reconstruido

----A----
----B----
----Reconstruido----

,order_id,order_date,user_id,user_name,segment,city,state,channel,product,category,quantity,unit_price,discount,returned,payment_method,gross,net
0,1001,2026-01-02,1,Ana,Consumer,CDMX,CDMX,web,Laptop Sleeve,Accessories,1,35.0,0.10,False,card,35.0,31.50
1,1002,2026-01-02,2,Luis,Corporate,GDL,JAL,store,Wireless Mouse,Accessories,2,18.5,0.00,False,cash,37.0,37.00
2,1003,2026-01-03,3,Marta,Consumer,MTY,NL,web,Keyboard,Accessories,1,45.0,0.05,True,card,45.0,42.75
3,1004,2026-01-03,4,Jorge,Small Biz,CDMX,CDMX,app,"Monitor 24""",Electronics,1,160.0,0.15,False,card,160.0,136.00
4,1005,2026-01-04,1,Ana,Consumer,Puebla,PUE,web,USB-C Cable,Accessories,3,8.0,0.00,False,transfer,24.0,24.00
5,1006,2026-01-05,5,Sofia,Corporate,QRO,QRO,store,Office Chair,Furniture,1,220.0,0.20,False,card,220.0,176.00
6,1007,2026-01-05,6,Diego,Consumer,GDL,JAL,web,Desk Lamp,Furniture,2,28.0,0.00,True,card,56.0,56.00
7,1008,2026-01-06,7,Karla,Small Biz,MTY,NL,app,SSD 1TB,Electronics,1,95.0,0.10,False,card,95.0,85.50
8,1009,2026-01-06,8,Pedro,Consumer,CDMX,CDMX,store,Notebook,Stationery,5,2.5,0.00,False,cash,12.5,12.50
9,1010,2026-01-07,2,Luis,Corporate,GDL,JAL,web,"Monitor 27""",Electronics,1,240.0,0.05,False,card,240.0,228.00
10,1011,2026-01-07,9,Elena,Consumer,Mérida,YUC,app,Pen Set,Stationery,2,12.0,0.00,False,transfer,24.0,24.00
11,1012,2026-01-08,3,Marta,Consumer,MTY,NL,web,Webcam,Electronics,1,70.0,0.00,False,card,70.0,70.00
12,1013,2026-01-09,10,Ramon,Small Biz,CDMX,CDMX,store,Standing Desk,Furniture,1,420.0,0.10,False,transfer,420.0,378.00
13,1014,2026-01-09,11,Paula,Consumer,GDL,JAL,web,Headphones,Electronics,1,55.0,0.00,True,card,55.0,55.00
14,1015,2026-01-10,12,Hugo,Corporate,MTY,NL,app,Paper Ream,Stationery,10,4.0,0.05,False,cash,40.0,38.00
15,1016,2026-01-10,6,Diego,Consumer,GDL,JAL,web,USB Hub,Electronics,1,22.0,0.00,False,card,22.0,22.00
16,1017,2026-01-11,5,Sofia,Corporate,QRO,QRO,web,Ergo Keyboard,Electronics,1,110.0,0.15,False,card,110.0,93.50
17,1018,2026-01-12,13,Nora,Small Biz,Puebla,PUE,app,Desk Organizer,Stationery,1,19.0,0.00,False,transfer,19.0,19.00
18,1019,2026-01-12,14,Ivan,Consumer,CDMX,CDMX,web,Smartphone Stand,Accessories,2,14.0,0.10,False,card,28.0,25.20
19,1020,2026-01-13,15,Lucia,Consumer,MTY,NL,store,HDMI Cable,Accessories,2,9.5,0.00,False,cash,19.0,19.00
20,1021,2026-01-14,9,Elena,Consumer,Mérida,YUC,web,Planner,Stationery,1,16.0,0.00,False,transfer,16.0,16.00
21,1022,2026-01-15,11,Paula,Consumer,GDL,JAL,app,Bluetooth Speaker,Electronics,1,80.0,0.10,False,card,80.0,72.00
22,1023,2026-01-15,10,Ramon,Small Biz,CDMX,CDMX,web,Floor Mat,Furniture,1,30.0,0.00,False,cash,30.0,30.00
23,1024,2026-01-16,2,Luis,Corporate,GDL,JAL,store,Whiteboard,Furniture,1,90.0,0.05,True,card,90.0,85.50
24,1025,2026-01-17,7,Karla,Small Biz,MTY,NL,web,Router,Electronics,1,130.0,0.20,False,card,130.0,104.00
25,1026,2026-01-17,8,Pedro,Consumer,CDMX,CDMX,app,Sticky Notes,Stationery,6,1.5,0.00,False,cash,9.0,9.00
26,1027,2026-01-18,4,Jorge,Small Biz,CDMX,CDMX,web,USB-C Dock,Electronics,1,175.0,0.10,False,card,175.0,157.50
27,1028,2026-01-18,12,Hugo,Corporate,MTY,NL,store,Ink Cartridge,Stationery,2,25.0,0.00,False,transfer,50.0,50.00
28,1029,2026-01-19,1,Ana,Consumer,Puebla,PUE,app,Gaming Mousepad,Accessories,1,20.0,0.05,False,card,20.0,19.00
29,1030,2026-01-20,13,Nora,Small Biz,Puebla,PUE,web,Filing Cabinet,Furniture,1,260.0,0.15,False,transfer,260.0,221.00

In [28]:
reconstruido2 = pd.concat([a,b],ignore_index=False)
reconstruido2

,order_id,order_date,user_id,user_name,segment,city,state,channel,product,category,quantity,unit_price,discount,returned,payment_method,gross,net
0,1001,2026-01-02,1,Ana,Consumer,CDMX,CDMX,web,Laptop Sleeve,Accessories,1,35.0,0.10,False,card,35.0,31.50
1,1002,2026-01-02,2,Luis,Corporate,GDL,JAL,store,Wireless Mouse,Accessories,2,18.5,0.00,False,cash,37.0,37.00
2,1003,2026-01-03,3,Marta,Consumer,MTY,NL,web,Keyboard,Accessories,1,45.0,0.05,True,card,45.0,42.75
3,1004,2026-01-03,4,Jorge,Small Biz,CDMX,CDMX,app,"Monitor 24""",Electronics,1,160.0,0.15,False,card,160.0,136.00
4,1005,2026-01-04,1,Ana,Consumer,Puebla,PUE,web,USB-C Cable,Accessories,3,8.0,0.00,False,transfer,24.0,24.00
5,1006,2026-01-05,5,Sofia,Corporate,QRO,QRO,store,Office Chair,Furniture,1,220.0,0.20,False,card,220.0,176.00
6,1007,2026-01-05,6,Diego,Consumer,GDL,JAL,web,Desk Lamp,Furniture,2,28.0,0.00,True,card,56.0,56.00
7,1008,2026-01-06,7,Karla,Small Biz,MTY,NL,app,SSD 1TB,Electronics,1,95.0,0.10,False,card,95.0,85.50
8,1009,2026-01-06,8,Pedro,Consumer,CDMX,CDMX,store,Notebook,Stationery,5,2.5,0.00,False,cash,12.5,12.50
9,1010,2026-01-07,2,Luis,Corporate,GDL,JAL,web,"Monitor 27""",Electronics,1,240.0,0.05,False,card,240.0,228.00
10,1011,2026-01-07,9,Elena,Consumer,Mérida,YUC,app,Pen Set,Stationery,2,12.0,0.00,False,transfer,24.0,24.00
11,1012,2026-01-08,3,Marta,Consumer,MTY,NL,web,Webcam,Electronics,1,70.0,0.00,False,card,70.0,70.00
12,1013,2026-01-09,10,Ramon,Small Biz,CDMX,CDMX,store,Standing Desk,Furniture,1,420.0,0.10,False,transfer,420.0,378.00
13,1014,2026-01-09,11,Paula,Consumer,GDL,JAL,web,Headphones,Electronics,1,55.0,0.00,True,card,55.0,55.00
14,1015,2026-01-10,12,Hugo,Corporate,MTY,NL,app,Paper Ream,Stationery,10,4.0,0.05,False,cash,40.0,38.00
15,1016,2026-01-10,6,Diego,Consumer,GDL,JAL,web,USB Hub,Electronics,1,22.0,0.00,False,card,22.0,22.00
16,1017,2026-01-11,5,Sofia,Corporate,QRO,QRO,web,Ergo Keyboard,Electronics,1,110.0,0.15,False,card,110.0,93.50
17,1018,2026-01-12,13,Nora,Small Biz,Puebla,PUE,app,Desk Organizer,Stationery,1,19.0,0.00,False,transfer,19.0,19.00
18,1019,2026-01-12,14,Ivan,Consumer,CDMX,CDMX,web,Smartphone Stand,Accessories,2,14.0,0.10,False,card,28.0,25.20
19,1020,2026-01-13,15,Lucia,Consumer,MTY,NL,store,HDMI Cable,Accessories,2,9.5,0.00,False,cash,19.0,19.00
20,1021,2026-01-14,9,Elena,Consumer,Mérida,YUC,web,Planner,Stationery,1,16.0,0.00,False,transfer,16.0,16.00
21,1022,2026-01-15,11,Paula,Consumer,GDL,JAL,app,Bluetooth Speaker,Electronics,1,80.0,0.10,False,card,80.0,72.00
22,1023,2026-01-15,10,Ramon,Small Biz,CDMX,CDMX,web,Floor Mat,Furniture,1,30.0,0.00,False,cash,30.0,30.00
23,1024,2026-01-16,2,Luis,Corporate,GDL,JAL,store,Whiteboard,Furniture,1,90.0,0.05,True,card,90.0,85.50
24,1025,2026-01-17,7,Karla,Small Biz,MTY,NL,web,Router,Electronics,1,130.0,0.20,False,card,130.0,104.00
25,1026,2026-01-17,8,Pedro,Consumer,CDMX,CDMX,app,Sticky Notes,Stationery,6,1.5,0.00,False,cash,9.0,9.00
26,1027,2026-01-18,4,Jorge,Small Biz,CDMX,CDMX,web,USB-C Dock,Electronics,1,175.0,0.10,False,card,175.0,157.50
27,1028,2026-01-18,12,Hugo,Corporate,MTY,NL,store,Ink Cartridge,Stationery,2,25.0,0.00,False,transfer,50.0,50.00
28,1029,2026-01-19,1,Ana,Consumer,Puebla,PUE,app,Gaming Mousepad,Accessories,1,20.0,0.05,False,card,20.0,19.00
29,1030,2026-01-20,13,Nora,Small Biz,Puebla,PUE,web,Filing Cabinet,Furniture,1,260.0,0.15,False,transfer,260.0,221.00